<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Challenge-1" data-toc-modified-id="Challenge-1-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Challenge 1</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Import-all-required-libraries" data-toc-modified-id="Import-all-required-libraries-1.0.1"><span class="toc-item-num">1.0.1&nbsp;&nbsp;</span>Import all required libraries</a></span></li><li><span><a href="#Import-data-set" data-toc-modified-id="Import-data-set-1.0.2"><span class="toc-item-num">1.0.2&nbsp;&nbsp;</span>Import data set</a></span></li><li><span><a href="#Print-first-10-rows-of-pokemon" data-toc-modified-id="Print-first-10-rows-of-pokemon-1.0.3"><span class="toc-item-num">1.0.3&nbsp;&nbsp;</span>Print first 10 rows of <code>pokemon</code></a></span></li><li><span><a href="#Obtain-the-distinct-values-across-Type-1-and-Type-2" data-toc-modified-id="Obtain-the-distinct-values-across-Type-1-and-Type-2-1.0.4"><span class="toc-item-num">1.0.4&nbsp;&nbsp;</span>Obtain the distinct values across <code>Type 1</code> and <code>Type 2</code></a></span></li><li><span><a href="#Cleanup-Name-that-contain-&quot;Mega&quot;" data-toc-modified-id="Cleanup-Name-that-contain-&quot;Mega&quot;-1.0.5"><span class="toc-item-num">1.0.5&nbsp;&nbsp;</span>Cleanup <code>Name</code> that contain "Mega"</a></span></li><li><span><a href="#Create-a-new-column-called-A/D-Ratio-whose-value-equals-to-Attack-devided-by-Defense" data-toc-modified-id="Create-a-new-column-called-A/D-Ratio-whose-value-equals-to-Attack-devided-by-Defense-1.0.6"><span class="toc-item-num">1.0.6&nbsp;&nbsp;</span>Create a new column called <code>A/D Ratio</code> whose value equals to <code>Attack</code> devided by <code>Defense</code></a></span></li><li><span><a href="#Identify-the-pokemon-with-the-highest-A/D-Ratio" data-toc-modified-id="Identify-the-pokemon-with-the-highest-A/D-Ratio-1.0.7"><span class="toc-item-num">1.0.7&nbsp;&nbsp;</span>Identify the pokemon with the highest <code>A/D Ratio</code></a></span></li><li><span><a href="#Identify-the-pokemon-with-the-lowest-A/D-Ratio" data-toc-modified-id="Identify-the-pokemon-with-the-lowest-A/D-Ratio-1.0.8"><span class="toc-item-num">1.0.8&nbsp;&nbsp;</span>Identify the pokemon with the lowest A/D Ratio</a></span></li><li><span><a href="#Create-a-new-column-called-Combo-Type-whose-value-combines-Type-1-and-Type-2." data-toc-modified-id="Create-a-new-column-called-Combo-Type-whose-value-combines-Type-1-and-Type-2.-1.0.9"><span class="toc-item-num">1.0.9&nbsp;&nbsp;</span>Create a new column called <code>Combo Type</code> whose value combines <code>Type 1</code> and <code>Type 2</code>.</a></span></li><li><span><a href="#Identify-the-pokemons-whose-A/D-Ratio-are-among-the-top-5" data-toc-modified-id="Identify-the-pokemons-whose-A/D-Ratio-are-among-the-top-5-1.0.10"><span class="toc-item-num">1.0.10&nbsp;&nbsp;</span>Identify the pokemons whose <code>A/D Ratio</code> are among the top 5</a></span></li><li><span><a href="#For-the-5-pokemons-printed-above,-aggregate-Combo-Type-and-use-a-list-to-store-the-unique-values." data-toc-modified-id="For-the-5-pokemons-printed-above,-aggregate-Combo-Type-and-use-a-list-to-store-the-unique-values.-1.0.11"><span class="toc-item-num">1.0.11&nbsp;&nbsp;</span>For the 5 pokemons printed above, aggregate <code>Combo Type</code> and use a list to store the unique values.</a></span></li><li><span><a href="#For-each-of-the-Combo-Type-values-obtained-from-the-previous-question,-calculate-the-mean-scores-of-all-numeric-fields-across-all-pokemons." data-toc-modified-id="For-each-of-the-Combo-Type-values-obtained-from-the-previous-question,-calculate-the-mean-scores-of-all-numeric-fields-across-all-pokemons.-1.0.12"><span class="toc-item-num">1.0.12&nbsp;&nbsp;</span>For each of the <code>Combo Type</code> values obtained from the previous question, calculate the mean scores of all numeric fields across all pokemons.</a></span></li></ul></li></ul></li></ul></div>

# Challenge 1

In this challenge you will be working on **pokemons**. You will answer a series of questions in order to practice dataframe calculation, aggregation, and transformation.

![Pokemon](../images/pokemon.jpg)

Follow the instructions below and enter your code.

### Import all required libraries

In [1]:
# import libraries
import pandas as pd
import numpy as np

### Import data set

Import data set `Pokemon.csv` from the `your-code` directory of this lab. Read the data into a dataframe called `pokemon`.

*Data set attributed to [Alberto Barradas](https://www.kaggle.com/abcsds/pokemon/)*

In [2]:
# import data set
pokemon = pd.read_csv('C:/Users/maria/Desktop/lab-pandas/data/Pokemon.csv')

### Print first 10 rows of `pokemon`

In [5]:
# enter your code here
pokemon.sample(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
11,9,Blastoise,Water,NaN,530,79,83,100,85,105,78,1,False
224,208,SteelixMega Steelix,Steel,Ground,610,75,125,230,55,95,30,2,False
482,434,Stunky,Poison,Dark,329,63,63,47,41,41,74,4,False
112,104,Cubone,Ground,NaN,320,50,50,95,40,50,35,1,False
261,242,Blissey,Normal,NaN,540,255,10,10,75,135,55,2,False
567,508,Stoutland,Normal,NaN,500,85,110,90,45,90,80,5,False
465,418,Buizel,Water,NaN,330,55,65,35,60,30,85,4,False
213,198,Murkrow,Dark,Flying,405,60,85,42,85,42,91,2,False
277,256,Combusken,Fire,Fighting,405,60,85,60,85,60,55,3,False
197,182,Bellossom,Grass,NaN,490,75,80,95,90,100,50,2,False

When you look at a data set, you often wonder what each column means. Some open-source data sets provide descriptions of the data set. In many cases, data descriptions are extremely useful for data analysts to perform work efficiently and successfully.

For the `Pokemon.csv` data set, fortunately, the owner provided descriptions which you can see [here](https://www.kaggle.com/abcsds/pokemon/home). For your convenience, we are including the descriptions below. Read the descriptions and understand what each column means. This knowledge is helpful in your work with the data.

| Column | Description |
| --- | --- |
| # | ID for each pokemon |
| Name | Name of each pokemon |
| Type 1 | Each pokemon has a type, this determines weakness/resistance to attacks |
| Type 2 | Some pokemon are dual type and have 2 |
| Total | A general guide to how strong a pokemon is |
| HP | Hit points, or health, defines how much damage a pokemon can withstand before fainting |
| Attack | The base modifier for normal attacks (eg. Scratch, Punch) |
| Defense | The base damage resistance against normal attacks |
| SP Atk | Special attack, the base modifier for special attacks (e.g. fire blast, bubble beam) |
| SP Def | The base damage resistance against special attacks |
| Speed | Determines which pokemon attacks first each round |
| Generation | Number of generation |
| Legendary | True if Legendary Pokemon False if not |

### Obtain the distinct values across `Type 1` and `Type 2`

Exctract all the values in `Type 1` and `Type 2`. Then create an array containing the distinct values across both fields.

In [37]:
# enter your code he
distinct_val = np.concatenate([pokemon['Type 1'].unique(),pokemon['Type 2'].unique()])
distinct_val

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying', 'Poison', nan, 'Flying',
       'Dragon', 'Ground', 'Fairy', 'Grass', 'Fighting', 'Psychic',
       'Steel', 'Ice', 'Rock', 'Dark', 'Water', 'Electric', 'Fire',
       'Ghost', 'Bug', 'Normal'], dtype=object)

### Cleanup `Name` that contain "Mega"

If you have checked out the pokemon names carefully enough, you should have found there are junk texts in the pokemon names which contain "Mega". We want to clean up the pokemon names. For instance, "VenusaurMega Venusaur" should be "Mega Venusaur", and "CharizardMega Charizard X" should be "Mega Charizard X".

In [66]:
# enter your code here

pokemon['Name'] = pokemon['Name'].apply(lambda x: x[x.find('Mega'):] if x.find('Mega')>0 else x)
# test transformed data

pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,TypeUnique,A/D_Ratio
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,None,1.000000
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,None,0.984127
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,None,0.987952
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,None,0.813008
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,None,1.209302
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False,None,1.103448
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False,None,1.076923
7,6,Mega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False,None,1.171171
8,6,Mega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False,None,1.333333
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False,None,0.738462

In [47]:
#Test_result
test = 'CharizardMega Charizard X'

if test.find('Mega')>0: 
    test[test.find('Mega'):]
else:
    test
    
[test[test.find('Mega'):] if test.find('Mega')>0 else test]

['Mega Charizard X']

### Create a new column called `A/D Ratio` whose value equals to `Attack` devided by `Defense`

For instance, if a pokemon has the Attack score 49 and Defense score 49, the corresponding `A/D Ratio` is 49/49=1.

In [67]:
# enter your code here
pokemon['A/D_Ratio'] = pokemon.apply(lambda x: x['Attack'] / x['Defense'], axis=1)
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,TypeUnique,A/D_Ratio
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,None,1.000000
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,None,0.984127
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,None,0.987952
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,None,0.813008
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,None,1.209302

### Identify the pokemon with the highest `A/D Ratio`

In [82]:
# enter your code here -- no me deja usar la funcion dentro del loc
condition = pokemon['A/D_Ratio'].max()
pokemon.loc[pokemon['A/D_Ratio'] == condition]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,TypeUnique,A/D_Ratio
429,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True,None,9.0

### Identify the pokemon with the lowest A/D Ratio

In [83]:
# enter your code here
condition2 = pokemon['A/D_Ratio'].min()
pokemon.loc[pokemon['A/D_Ratio'] == condition2]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,TypeUnique,A/D_Ratio
230,213,Shuckle,Bug,Rock,505,20,10,230,10,230,5,2,False,None,0.043478

### Create a new column called `Combo Type` whose value combines `Type 1` and `Type 2`.

Rules:

* If both `Type 1` and `Type 2` have valid values, the `Combo Type` value should contain both values in the form of `<Type 1> <Type 2>`. For example, if `Type 1` value is `Grass` and `Type 2` value is `Poison`, `Combo Type` will be `Grass-Poison`.

* If `Type 1` has valid value but `Type 2` is not, `Combo Type` will be the same as `Type 1`. For example, if `Type 1` is `Fire` whereas `Type 2` is `NaN`, `Combo Type` will be `Fire`.

In [107]:
# enter your code here
def combo (row):
    if str(row['Type 1']) != 'nan' and str(row['Type 2']) != 'nan':
        return row['Type 1']+'-'+ row['Type 2']
    elif str(row['Type 1']) != 'nan':
        return row['Type 1']
    else:
        return 'Unknown'
            

pokemon['Combo_Type'] = pokemon.apply(lambda row: combo(row), axis=1)

pokemon.head(20)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,TypeUnique,A/D_Ratio,Combo_Type
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,None,1.000000,Grass-Poison
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,None,0.984127,Grass-Poison
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,None,0.987952,Grass-Poison
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,None,0.813008,Grass-Poison
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,None,1.209302,Fire
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False,None,1.103448,Fire
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False,None,1.076923,Fire-Flying
7,6,Mega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False,None,1.171171,Fire-Dragon
8,6,Mega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False,None,1.333333,Fire-Flying
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False,None,0.738462,Water
10,8,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False,None,0.787500,Water
11,9,Blastoise,Water,NaN,530,79,83,100,85,105,78,1,False,None,0.830000,Water
12,9,Mega Blastoise,Water,NaN,630,79,103,120,135,115,78,1,False,None,0.858333,Water
13,10,Caterpie,Bug,NaN,195,45,30,35,20,20,45,1,False,None,0.857143,Bug
14,11,Metapod,Bug,NaN,205,50,20,55,25,25,30,1,False,None,0.363636,Bug
15,12,Butterfree,Bug,Flying,395,60,45,50,90,80,70,1,False,None,0.900000,Bug-Flying
16,13,Weedle,Bug,Poison,195,40,35,30,20,20,50,1,False,None,1.166667,Bug-Poison
17,14,Kakuna,Bug,Poison,205,45,25,50,25,25,35,1,False,None,0.500000,Bug-Poison
18,15,Beedrill,Bug,Poison,395,65,90,40,45,80,75,1,False,None,2.250000,Bug-Poison
19,15,Mega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False,None,3.750000,Bug-Poison

### Identify the pokemons whose `A/D Ratio` are among the top 5

In [120]:
# enter your code here
pokemon.sort_values(by='A/D_Ratio', ascending=False)[['Name']][0:5]

                   Name
429  DeoxysAttack Forme
347            Carvanha
19        Mega Beedrill
453            Cranidos
348            Sharpedo

### For the 5 pokemons printed above, aggregate `Combo Type` and use a list to store the unique values.

Your end product is a list containing the distinct `Combo Type` values of the 5 pokemons with the highest `A/D Ratio`.

In [123]:
# enter your code here
top_5 = pokemon.sort_values(by='A/D_Ratio', ascending=False)[['Name','Combo_Type']][0:5]
unique_combo = top_5['Combo_Type'].unique()
unique_combo

array(['Psychic', 'Water-Dark', 'Bug-Poison', 'Rock'], dtype=object)

### For each of the `Combo Type` values obtained from the previous question, calculate the mean scores of all numeric fields across all pokemons.

Your output should look like below:

![Aggregate](../images/aggregated-mean.png)

In [154]:
# enter your code here ---- Por algun motivo me arroja error con Sp.Atk, Sp.Def y A/D_Ratio 
#                        -- Por qué no me mantiene el orden pedido en la pivot?

filter_unique = pokemon[pokemon['Combo_Type'].isin(unique_combo)]
filter_unique.pivot_table(
    index=['Combo_Type'],
    values=["#",'Total','HP','Attack','Defense','Speed', 'Generation','Legendary'],
    aggfunc=['mean'],
)

                  mean                                                \
                     #      Attack     Defense Generation         HP
Combo_Type
Bug-Poison  199.166667   68.333333   58.083333   2.333333  53.750000
Psychic     381.973684   64.947368   67.236842   3.342105  72.552632
Rock        410.111111  103.333333  107.222222   3.888889  67.111111
Water-Dark  347.666667  120.000000   65.166667   3.166667  69.166667


           Legendary      Speed       Total
Combo_Type
Bug-Poison  0.000000  65.916667  347.916667
Psychic     0.236842  78.868421  464.552632
Rock        0.111111  32.888889  409.444444
Water-Dark  0.000000  87.166667  493.833333